.counter__buttons{
  margin-bottom: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  position: relative;
}

.counter__button__reset::after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

.counter__button{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px 20px;
  width: 200px;
  color: white;
  background-color: var(--casion-dark-red);
  border-radius: 5px;
  border: solid 2px var(--casion-yellow);
  font-family: "Baskerville", serif;
  cursor: pointer;
  box-shadow: 0px 0px 50px 0px #000000,
        inset 0px 0px 50px 0px #000000;
  transition: all 0.2s;
}


.counter__button:hover {
  color: var(--casion-yellow);
}

@media (max-width: 540px) {
  .counter__button{
    margin-left: 25px;
    margin-right: 25px;
    width: 150px;
  }
}

@media (max-width: 440px) {
  .counter__button{
    margin-left: 20px;
    margin-right: 20px;
    width: 130px;
  }
}
