.counter__buttons{
  margin-bottom: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  /* background-color: aqua; */
  position: relative;
}

.counter__button__reset::after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

.counter__button{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 20px;
  width: 160px;
  color: white;
  background-color: var(--casion-dark-red);
  border-radius: 5px;
  border: solid 2px var(--casion-yellow);
  font-family: "Baskerville", serif;
  cursor: pointer;
}

@media (max-width: 720px) {
  .counter__buttons {
    grid-template-columns: 1fr 1fr;
  }
}
